main
  display: block
  padding-bottom: 54px

.work
  margin-top: 91px

.portfolio
  padding: 0

.section-header
  align-items: center
  position: relative
  padding: 0 12px
  margin-bottom: 1px

/* Title */
.title
  width: 100%
  margin-left: 0
  margin-right: 0
  flex-grow: 1
  padding: 0 6px

h2
  display: block

.group-name
  font-weight: 400
  font-size: 48px
  line-height: 1.13
  font-weight: 300
  margin-bottom: 24px

/* Tiles */
.project-tiles
  margin-left: -15px
  margin-right: -15px
  margin-bottom: 33px
  transition-delay: 0s
  transition-duration: 0.15s
  transition-property: opacity
  transition-timing-function: linear

.project-tile
  color: black
  margin-left: 0
  margin-right: 0
  margin-bottom: 36px
  padding: 0 15px
  position: relative
  transition-delay: 0s
  transition-duration: 0.6s
  transition-property: margin
  transition-timing-function: ease-out
  width: 100%

  a
    color: black
    display: block
    text-decoration: none
    transition-delay: 0s
    transition-duration: 0.1s
    transition-property: color
    transition-timing-function: linear

/* Tile Image */
.project-img
  position: relative
  margin-bottom: 15px

.img-no-overlay
  display: none

.img-mobile
  display: block

.project-tile
  .img-responsive
    padding-bottom: 56.25%

.img-responsive
  background-color: #eee
  overflow: hidden
  position: relative

.img-fluid
  display: block
  position: absolute
  top: 0
  left: 0
  margin-top: -1px
  margin-left: 0
  opacity: 1
  // project image must be svg to be responsive
  max-width: none
  //max-width: 100%
  transition-delay: 0s
  transition-duration: 0.15s
  transition-property: opacity
  transition-timing-function: linear

.img-overlay
  background-color: black
  color: white
  height: 100%
  top: 0
  left: 0
  overflow: hidden
  padding: 24px
  position: absolute
  text-overflow: ellipsis
  transition: 100ms linear opacity
  width: 100%
  opacity: 0

.overlay-data-group
  margin-bottom: 12px
  h4
    text-transform: uppercase
    margin-bottom: 12px
    letter-spacing: 0.6px
    color: rgba(255,255,255,0.54)

.overview
  font-size: 15px
  letter-spacing: 0.1px
  line-height: 1.5

/* Tile Caption */
.caption
  line-height: 18px
  padding: 0 12px

main.work .portfolio h4
  text-transform: uppercase
  font-size: 18px
  font-weight: 400
  letter-spacing: 0.8px
  margin-bottom: 8px

main.work .portfolio h3
  font-weight: 400
  font-size: 38px
  line-height: 1.29

.project-tile h3
  margin-bottom: 3px

/* Responsive */
@media screen and (min-width: 640px)
  .work
    margin-top: 109px
  .portfolio
    padding: 0 42px
  .section-header
    padding: 0
    margin-bottom: 14px
  .title
    width: 33.33333%
    margin-left: 0
    margin-right: 0
  h2.group-name
    margin-bottom: 15px
    font-size: 28px
    line-height: 36px
  .project-tiles
    margin-bottom: 0
  .project-tile
    width: 33.33333%
    margin-left: 0
    margin-right: 0
    margin-bottom: 50px
  .img-no-overlay
    display: block
  .img-mobile
    display: none
  .project-tile
    .img-responsive
      padding-bottom: 77%
  .project-tile:nth-child(1) .img-responsive, .project-tile:nth-child(6n+1) .img-responsive, .project-tile:nth-child(6n) .img-responsive
    padding-bottom: 117.5%
  .project-tile:nth-child(3) .img-responsive, .project-tile:nth-child(4) .img-responsive, .project-tile:nth-child(9) .img-responsive
    padding-bottom: 65.5%
  .project-tile:nth-child(4) .img-responsive
    margin-top: 10.5%
  .project-tile:nth-child(5) .img-responsive
    margin-top: -30%
  .project-tile:nth-child(6) .img-responsive
    margin-top: -41.5%
  .project-tile:nth-child(7) .img-responsive
    margin-top: 11.5%
  .project-tile:nth-child(8) .img-responsive
    margin-top: -10.5%
  .project-img:hover
    .img-overlay
      opacity: 0.9
  .medium
    font-size: 13px
  .caption
    padding: 0
  main.work .portfolio h4
    margin-bottom: 6px
    font-size: 13px
  main.work .portfolio h3
    font-size: 24px
    letter-spacing: 0.3px
    line-height: 1.29

@media screen and (min-width: 1024px)
  .title
    width: 20%
    margin-left: 0
    margin-right: 0
  h2.group-name
    font-size: 38px
    font-weight: 400
    line-height: 1.29
    letter-spacing: 0.4px
  .project-tile
    margin-bottom: 80px
  .project-img
    margin-bottom: 20px
  .medium
    font-size: 15px
  main.work .portfolio h4
    margin-bottom: 12px
    font-size: 15px
  main.work .portfolio h3
    font-size: 28px
    letter-spacing: 0.3px
    line-height: 1.29
  .project-tile h3
    margin-bottom: 0

@media screen and (min-width: 1300px)
  .work
    margin-top: 136px
  .section-header
    margin-bottom: 24px
  h2.group-name
    font-size: 62px
    font-weight: 300
    line-height: 1.13
  .medium
    font-size: 18px
  .overview
    font-size: 20px
  main.work .portfolio h4
    font-size: 18px
  main.work .portfolio h3
    font-size: 32px
    line-height: 1.29
