footer
  background-color: red
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  flex-direction: row
  flex-wrap: nowrap
  line-height: 16px
  opacity: 1
  padding: 5px 52px 32px 52px
  position: relative
  color: white
  width: auto
  section
    padding: 54px 0px
  h4
    color: white
    display: block
    flex-basis: 100%
    font-size: 15px
    letter-spacing: 0.8px
    margin: 0px 36px 24px 0px
    position: relative
    text-align: center
    text-transform: uppercase
    top: 3px
    width: auto

.footer-links
  display: inline-block
  justify-content: center
  margin: -2px 0px 0px 0px
  padding: 0
  text-align: center
  width: 30.3%

.social-links
  text-align: center
  width: auto

.social-links-list
  display: block
  line-height: 0px
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  align-items: center

.link-item
  display: inline-block
    a
      color: white
      text-decoration: none
